// You need 3 css files. main.css, global.css, destinations.css
@use "variables" as *;

// Nav Bar styling in global.css
// Footer styling in global.css


.schedule{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    max-height: 650px;

    h2 {
        color: $color-blue;
        margin: 0;
        height: 4.125rem;
        // border: 2px solid black;
        padding-left: 5rem;
        padding-top: 1.75rem;
    }

    &-cardContainer {

        display: flex;
        flex-direction: row;
        justify-content: center;

        .scheduleCard {
            height: 378px;
            width: 252px;
            border: 2px solid red;
            margin: 20px;
            margin-bottom: 75px;
            border-radius: 5px;

            display: flex;
            flex-direction: column;

            text-decoration: none;

            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);



            &:nth-child(1) {
                background-image: url('../assets/images/hawaii.jpg');
                background-size: cover;
                background-position: center;
            }

            &:nth-child(2) {
                background-image: url('../assets/images/iceland.jpg');
                background-size: cover;
                background-position: center;
            }

            &:nth-child(3) {
                background-image: url('../assets/images/greece.jpg');
                background-size: cover;
                background-position: center;
            }
        }
        
        h3 {
            font-size: 1.5rem;
            color: white;
            text-align: right;
            padding-right: 10px;
            margin-top: 130%; // Push the text to the bottom
        }
    }
}