* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  border-left: 3.5px solid black;
  border-right: 3.5px solid black;
  border-bottom: 3.5px solid black;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  padding: 0 5rem;
  margin: 0;
  background-color: #FFFFFF;
}
.navBar h3 {
  color: #335576;
}
.navBar-destinationList {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.navBar-destinationList li {
  align-items: center;
}

.heroSection {
  display: flex;
  justify-content: space-between;
  background-color: #FEFAF5;
  max-height: 450px;
}
.heroSection-textCard {
  display: flex;
  flex-direction: column;
  margin: 5.3% 5.5%;
  width: 50%;
  padding-left: 1%;
  padding-right: 0;
  padding-top: 1%;
  padding-bottom: 4.5%;
}
.heroSection-textCard h1 {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #335576;
}
.heroSection-textCard p {
  color: #335576;
  margin-top: 0;
  margin-bottom: 40px;
}
.heroSection-textCard button {
  background-color: #DB7A4E;
  color: white;
  border: none;
  height: 35px;
  width: 150px;
  border-radius: 75px;
  margin: 0;
}
.heroSection-imageCard {
  width: 50%;
  text-align: center;
  padding: 2%;
}
.heroSection-imageCard img {
  max-height: 100%;
  max-width: 100%;
}

.recommendation {
  display: flex;
  flex-direction: column;
}
.recommendation h2 {
  color: #335576;
  margin: 0;
  height: 4.125rem;
  padding-left: 5rem;
  padding-top: 1.75rem;
}
.recommendation-cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.recommendation-cardContainer .travelCard {
  height: 378px;
  width: 252px;
  border: 2px solid red;
  margin: 20px;
  margin-bottom: 75px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.recommendation-cardContainer .travelCard:nth-child(1) {
  background-image: url("../assets/images/hawaii.jpg");
  background-size: cover;
  background-position: center;
}
.recommendation-cardContainer .travelCard:nth-child(2) {
  background-image: url("../assets/images/iceland.jpg");
  background-size: cover;
  background-position: center;
}
.recommendation-cardContainer .travelCard:nth-child(3) {
  background-image: url("../assets/images/greece.jpg");
  background-size: cover;
  background-position: center;
}
.recommendation-cardContainer h3 {
  font-size: 1.5rem;
  color: white;
  text-align: right;
  padding-right: 10px;
  margin-top: 130%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FEFAF5;
  padding: 35px 220px;
}
.footer-Contact {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 40px;
}
.footer-Contact h2 {
  color: #335576;
}
.footer-Contact p {
  margin: 0;
  margin-bottom: 10px;
}
.footer-Contact p:nth-of-type(1) {
  font-size: 0.65rem;
  color: #DB7A4E;
}
.footer-Contact p:nth-of-type(2) {
  font-size: 0.85rem;
  color: #335576;
}
.footer-Hours {
  display: flex;
  flex-direction: column;
  display: inline;
  margin-left: 40px;
  margin-right: 40px;
}
.footer-Hours h2 {
  color: #335576;
}
.footer-Hours-timeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.footer-Hours-timeContainer div p {
  margin: 0;
  margin-bottom: 10px;
}
.footer-Hours-timeContainer div p:nth-child(1) {
  font-size: 0.65rem;
  color: #DB7A4E;
}
.footer-Hours-timeContainer div p:nth-child(2) {
  font-size: 0.85rem;
  color: #335576;
}
.footer-Social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 0;
}
.footer-Social h2 {
  color: #335576;
}
.footer-Social-iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjusted to space between */
  align-items: flex-start;
  width: 125px;
}
.footer-Social-iconContainer img {
  margin-bottom: 10px;
  height: 25px;
  width: auto;
}/*# sourceMappingURL=main.css.map */